* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    list-style: none;
}

body {
    font-family: "Inconsolata", monospace;
    display: grid;
    gap: 10px;
    justify-content: center;
    background-color: rgb(168, 168, 168);
}

h1 {
    margin-top: 30px;
}

#todo-input {
    border: none;
    padding: 7px;
    border-radius: 5px;
}

ul>* {
    margin-top: 7px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li:hover {
    cursor: default;
    border-bottom: 0.5px solid black;
}

.add-btn {
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 20;
}

.delete-btn {
    border: none;
    background-color: transparent;
}

.delete-btn:hover {
    color: rgb(202, 6, 6);
    cursor: pointer;
}